<div class="sticky flex flex-col justify-between p-5 z-10 -mt-[70px] h-screen">
  <div class="flex flex-col gap-y-3 mt-20 overflow-y-auto" id="blockMessages">
    @for (message of messages; track message; let i = $index) {
      @if (message) {
        @if (message.user.id == userId) {
          <div class="flex flex-col items-end gap-y-2">
            <div class="flex items-center justify-center">
              <img class="p-1 !rounded-full styleBorderSolidLite border w-10 h-10" [src]="image" alt="logo">
            </div>
            <div class="px-3 py-2 rounded-lg bg-gray-300 dark:bg-gray-700 max-w-full sm:max-w-2/3">
              <span class="text-wrap">{{message.content}}</span>
            </div>
          </div>
        } @else {
          <div class="flex flex-col items-start gap-y-2">
            <div class="flex items-center justify-center">
              <img class="p-1 !rounded-full styleBorderSolidLite border w-10 h-10" src="/assets/images/icon.png" alt="logo">
            </div>
            <div class="px-3 py-2 rounded-lg bg-gray-300 dark:bg-gray-700 max-w-full sm:max-w-2/3">
              <span class="text-wrap">{{message.content}}</span>
            </div>
          </div>
        }
      } @else {
        @if (i % 2 == 0) {
          <div class="flex flex-col items-end gap-y-2 animate-pulse">
            <div class="flex items-center justify-center rounded-full bg-gray-300 dark:bg-gray-700 w-10 h-10">
              <svg class="w-5 h-5 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
              </svg>
            </div>
            <div class="rounded-xl bg-gray-400 dark:bg-gray-700 w-40 h-10"></div>
          </div>
        } @else {
          <div class="flex flex-col gap-y-2 animate-pulse">
            <div class="flex items-center justify-center rounded-full bg-gray-300 dark:bg-gray-700 w-10 h-10">
              <svg class="w-5 h-5 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
              </svg>
            </div>
            <div class="rounded-xl bg-gray-400 dark:bg-gray-700 w-full h-20"></div>
          </div>
        }
      }
    }
  </div>

  <div class="flex flex-col items-center w-full">
    <div class="flex flex-row justify-between items-center gap-x-3 px-2 !rounded-full styleElem w-full md:w-10/12 lg:w-3/4 xl:w-2/3">
      <button class="flex flex-col items-center">
        <ion-icon name="attach-outline" />
      </button>
      <textarea class="styleTextarea !border-none" rows="2" placeholder="Message Llama AI" [(ngModel)]="inputMessage"></textarea>
      <button class="flex flex-col items-center" (click)="sendMessage()">
        <ion-icon name="send-outline" />
      </button>
    </div>
  </div>
</div>

<app-window-notify
  [dataNotify]="dataNotify"
></app-window-notify>