<div class="relative flex flex-col justify-between gap-y-3 p-3 !rounded-none styleBorderSolidLite border-r w-[300px] h-full">
  <button class="flex flex-col justify-center items-center styleBorderSolidLite border styleLinkMenu w-full text-center"
          [ngClass]="[currentTab == '' ? 'bg-gray-300 dark:bg-slate-600' : '']"
          [routerLink]="['/']">
    <img src="/assets/images/icon.png" alt="logo" class="rounded-xl w-10 h-10">
    <span class="text-lg">New chat</span>
  </button>

  <div class="flex flex-col gap-y-2 h-full overflow-y-auto">
    @for (chat of listChats; track chat; let i = $index) {
      @if (chat) {
        <div class="flex flex-col justify-center">
          <div class="flex flex-col">
            @if (listChats[i-1] != undefined) {
              @if (formatDate(listChats[i-1]!.updatedAt) != formatDate(chat.updatedAt)) {
                <span class="mt-3 text-sm text-gray-700 dark:text-gray-400">{{formatDate(chat.updatedAt)}}</span>
              }
            } @else {
              <span class="mt-3 text-sm text-gray-700 dark:text-gray-400">{{formatDate(chat.updatedAt)}}</span>
            }
          </div>

          <div class="flex flex-col justify-between items-center styleBorderSolidLite border styleLinkMenu w-full text-center cursor-pointer"
              [ngClass]="[currentTab == chat.id ? 'bg-gray-300 dark:bg-slate-600' : '']"
              (click)="openChat($event, chat.id)">
            <div class="flex flex-row items-center gap-x-2">
              @if (chat.isPublic) {
                <ion-icon matTooltip="Public" class="!text-xl" name="lock-open-outline" />
              } @else {
                <ion-icon matTooltip="Private" class="!text-xl" name="lock-closed-outline" />
              }
              <span class="text-base" matTooltip="{{chat.title}}">{{truncateString(chat.title)}}</span>
            </div>

            <button class="flex flex-col items-center" id="menuBut" [matMenuTriggerFor]="matOptionsMenu">
              <ion-icon class="!text-xl" name="ellipsis-horizontal-outline" />
            </button>
            <mat-menu #matOptionsMenu="matMenu">
              <div class="flex flex-col p-2">
                <button class="styleLinkMenu" (click)="tempChat = chat; isShowRenameTitle = true">
                  <ion-icon class="!text-xl" name="create-outline" />
                  <span>Rename Title</span>
                </button>
                <button class="styleLinkMenu" (click)="tempChat = chat; isShowShareWindow = true">
                  <ion-icon class="!text-xl" name="arrow-redo-outline" />
                  <span>Share</span>
                </button>
                <button class="styleLinkMenu" (click)="deleteChat(chat.id)">
                  <ion-icon class="!text-xl text-red-500" name="trash-outline" />
                  <span class="text-red-500">Delete</span>
                </button>
              </div>
            </mat-menu>
          </div>
        </div>
      } @else {
        <div class="flex flex-col justify-center gap-y-2">
          @if (i % 4 == 0) {
            <div class="p-1 mt-3 rounded-xl bg-gray-400 dark:bg-gray-700 w-28 animate-pulse"></div>
          }
          <div class="flex flex-col items-center p-3 styleBorderSolidLite border styleLinkMenu w-full animate-pulse">
            @if (i % 3 == 0) {
              <div class="rounded-xl bg-gray-400 dark:bg-gray-700 w-28 h-5"></div>
            } @else {
              <div class="rounded-xl bg-gray-400 dark:bg-gray-700 w-20 h-5"></div>
            }
          </div>
        </div>
      }
    }
  </div>

  <button class="flex flex-col items-center styleBorderSolidLite border styleLinkMenu w-full text-center"
          [ngClass]="[currentTab == 'about' ? 'bg-gray-300 dark:bg-slate-600' : '']"
          [routerLink]="['/about']">
    <ion-icon class="text-xl" name="information-outline" />
    <span class="text-lg">About</span>
  </button>
</div>

@if (isShowRenameTitle) {
  <app-rename-title
    [chat]="tempChat"
    (submitEvent)="renameTitle()"
    (closeWindowEvent)="isShowRenameTitle = false"
  ></app-rename-title>
}

@if (isShowShareWindow) {
  <app-share-window
    [chat]="tempChat"
    (shareChatEvent)="shareChat($event)"
    (closeChatEvent)="closeChat($event)"
    (closeWindowEvent)="isShowShareWindow = false"
  ></app-share-window>
}

<app-window-notify
  [dataNotify]="dataNotify"
></app-window-notify>